#board-container {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
}

.game-board {
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.game-block {
    width: 25px;
    height: 25px;
}

#ship-category {
    width: 400px;
    height: 100px;
    background-color: bisque;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.cruiser {
    background-color: #4169E1;
}

.destroyer {
    background-color: #8A2BE2;
}

.frigate {
    background-color: #2E8B57;
}

.corvette {
    background-color: #800000;
}

.submarine {
    background-color: #C71585;
}

.cruiser-display {
    width: 30px;
    height: 10px;
    margin: 5px;
}

.destroyer-display {
    width: 40px;
    height: 10px;
    margin: 5px;
}

.frigate-display {
    width: 50px;
    height: 10px;
    margin: 5px;
}

.corvette-display {
    width: 30px;
    height: 10px;
    margin: 5px;
}

.submarine-display {
    width: 20px;
    height: 10px;
    margin: 5px;
}

.hit {
    background-color: red;
}

.not-hit {
    background-color: gray;
}